<!DOCTYPE html>
<html lang="en">
<head th:replace="teacher/fragments/head" />
<body>
	<nav th:replace="teacher/fragments/nav" />


	<div class="container">
		<h2 th:text="#{teacher.add.title}"></h2>
		<form class="form-horizontal" method="post" action="/teacher/add">
			<div class="form-group">
				<label class="control-label col-sm-2" for="dni"
					th:text="#{teacher.add.dni}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="dni"
						placeholder="0000000Y" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('dni')}"
						th:errors="*{dni}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="nombre"
					th:text="#{teacher.add.name}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="nombre"
						placeholder="Pepe" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="apellido"
					th:text="#{teacher.add.lastName}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="apellido"
						placeholder="Garcia" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="categioria"
					th:text="#{teacher.add.category}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="categoria"
						placeholder="Matematicas" required="true" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"
						th:text="#{teacher.add.send}"></button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>
